[submodule "JS1-Pertemuan1"]
	path = JS1-Pertemuan1
	url = https://github.com/syaifulmain/JS1-Pertemuan1.git
[submodule "JS1-Pertemuan2"]
	path = JS1-Pertemuan2
	url = https://github.com/syaifulmain/JS1-Pertemuan2.git
[submodule "JS1-Pertemuan3"]
	path = JS1-Pertemuan3
	url = https://github.com/syaifulmain/JS1-Pertemuan3.git
[submodule "JS1-Pertemuan4"]
	path = JS1-Pertemuan4
	url = https://github.com/syaifulmain/JS1-Pertemuan4.git
[submodule "JS1-Pertemuan5"]
	path = JS1-Pertemuan5
	url = https://github.com/syaifulmain/JS1-Pertemuan5.git
[submodule "JS1-Pertemuan6"]
	path = JS1-Pertemuan6
	url = https://github.com/syaifulmain/JS1-Pertemuan6.git
[submodule "JS1-Pertemuan7"]
	path = JS1-Pertemuan7
	url = https://github.com/syaifulmain/JS1-Pertemuan7.git
[submodule "JS1-Pertemuan9"]
	path = JS1-Pertemuan9
	url = https://github.com/syaifulmain/JS1-Pertemuan9.git
